<!--Fluid Section One-->
<section class="fluid-section-one">
    <div class="outer-container clearfix">
        <!--Title Column-->
        <div class="title-column" style="background-image:url(images/background/11.jpg);">
            <div class="inner-column">
                <div class="icon-box">
                    <span class="icon flaticon-envelope-2"></span>
                </div>
                <div class="text">Bizden Haberdar Olun...</div>
                <h2>Güncel Bilgilendirmelerimiz için Abone Olun...</h2>
            </div>
        </div>
        <!--Form Column-->
        <div class="form-column" style="background-image:url(images/background/6.jpg);">
            <div class="inner-column">
                <div class="subscribe-form-three">
                        <div class="form-group">
                            <input type="email" name="email" value="" class="subscribe-input" placeholder="Email Adresiniz..." required>
                            <button type="submit" class="theme-btn subscribe-btn"><span class="fa fa-send"></span></button>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Fluid Section One-->