<!--Contact Section-->
<section class="contact-section">
    <div class="auto-container">
        <div class="sec-title">
            <h2>İletişim</h2>
            <div class="separater"></div>
        </div>
        <div class="row clearfix">
            <div class="form-column col-lg-9 col-md-8 col-sm-12">
                <div class="inner-column">

                    <!-- Default Form -->
                    <div class="default-form contact-form">
                        <!--Default Form-->
                       
                            <div class="row clearfix">
                                <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                    <input type="text" id="contact-us-username" placeholder="İsminizi Yazınız..." required>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                    <input type="email" id="contact-us-email-address" placeholder="Mail Adresi Giriniz..." required>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                    <input type="text" id="contact-us-subject" placeholder="Konu Giriniz..." >
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                    <input type="tel" id="contact-us-phone" placeholder="Telefon Numarası Giriniz..." >
                                </div>

                                <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                    <textarea id="contact-us-message" placeholder="Mesajınız..." required></textarea>
                                </div>

                                <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                    <span class="alert-text"></span>
                                    <button aria-label="Gönder" title="İletişim Formu" class="theme-btn btn-style-one send-contact-us" type="submit" name="submit-form">Gönder</button>
                                </div>

                            </div>

                    </div>
                    <!--End Default Form -->

                </div>
            </div>
        </div>
    </div>
</section>
<!--End Contact Section-->
