<!-- Price Filters -->
<div class="sidebar-widget price-filters rangeslider-widget">
    <div class="sidebar-title">
        <h2>Fiyata Göre Filtrele</h2>
        <div class="separater"></div>
    </div>
    <div class="range-slider-one clearfix">
        <div class="price-range-slider" style="margin-left:5px;"></div>
        <div class="container" style="margin-top:-30px;" >
            <div class="row">
                <div class="title">Fiyat:</div>
                <div class="input"><input type="text" class="property-amount price-filter-values" name="field-name" readonly></div>
            </div>
            <div class="row">
                <span class="alert-text"></span>
                <a class="theme-btn btn-style-one filter-by-price-button">FİLTRELE</a>
            </div>
            
        </div>
    </div>
</div>