@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Hesap Bilgileri";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

@section Title {
    <meta name="title" content="Giriş Yap">
}
@section Description {
    <meta name="description" content="İthal ürünleri toptan ve perakende olarak satın alın. Katalog ürünleri, marka patent desteği ve e-ticaret çözümleri sunuyoruz.">
}
@section Keywords {
    <meta name="keywords" content="Çin ithalat, toptan ürünler, perakende satış, marka patent, e-ticaret çözümleri, toptan spor malzemeleri ithalatı, marka desteği, toptan petshop ürünleri,
                                    toptan spor malzemesi">
}
@Html.PartialAsync("_ManageNav")

<section class="manage-section">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="column col-lg-6 col-md-12 col-sm-12">
                <h3>@ViewData["Title"]</h3>

                <div class="row">
                    <div >
                        <p>Bu Sayfa Bizimle Paylaştığınız Bilgileri İçerir. Bu Sayfa Verilerinizi İndirmenizi ya da Silmenizi Sağlar.</p>
                        <p>
                            <strong>Hesabınızı silmek tüm verilerinizi kaybetmenize neden olur.</strong>
                        </p>
                        <form id="download-data" asp-page="DownloadPersonalData" method="post">
                            <button class="btn btn-primary" type="submit">İndir</button>
                        </form>
                        <p style="margin-top:30px;">
                            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Hesabı Sil</a>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
@section AdditionalScripts {
    <partial name="_ValidationScriptsPartial" />
}
