@page
@model SetPasswordModel
@{
    ViewData["Title"] = "Şifre Belirle";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}
@{
    Layout = "/Views/Shared/_Layout.cshtml"; // Ensure Identity uses your layout
}
@section Title {
    <meta name="title" content="Hesap">
}
@section Description {
    <meta name="description" content="İthal ürünleri toptan ve perakende olarak satın alın. Katalog ürünleri, marka patent desteği ve e-ticaret çözümleri sunuyoruz.">
}
@section Keywords {
    <meta name="keywords" content="Çin ithalat, toptan ürünler, perakende satış, marka patent, e-ticaret çözümleri, toptan spor malzemeleri ithalatı, marka desteği, toptan petshop ürünleri,
                                    toptan spor malzemesi">
}
@Html.Partial("_ManageNav")
<section class="manage-section">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="column col-lg-6 col-md-12 col-sm-12">
                <h3>Şifre Belirle</h3>
                <partial name="_StatusMessage" for="StatusMessage" />
                <p class="text-info">
                    Bu websitesi için kullanıcı adı/parolanız bulunmamaktadır. Yerel bir hesap oluşturarak dış kaynaklı hesabınızdan oturum açabilirsiniz.
                </p>
                <div class="row">
                    <div class="col-md-6">
                        <form id="set-password-form" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                            <div class="form-floating mb-3">
                                <label asp-for="Input.NewPassword" class="form-label"></label>
                                <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" placeholder="Lütfen Şifrenizi Giriniz."/>
                                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-3">
                                <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" placeholder="Lütfen Şifrenizi Onaylayınız."/>
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                            <button type="submit" class="w-100 btn btn-lg btn-primary">Şifre Belirle</button>
                        </form>
                    </div>
                </div>
            </div>
         </div>
    </div>
</section>
@section AdditionalScripts {
    <partial name="_ValidationScriptsPartial" />
}
