@section Title {
    <meta name="title" content="Hakkında">
    <title>Birileri Hakkında</title>
}
@section Description {
    <meta name="description" content="İthal ürünleri toptan ve perakende olarak satın alın. Katalog ürünleri, marka patent desteği ve e-ticaret çözümleri sunuyoruz.">
}
@section Keywords {
    <meta name="keywords" content="Çin ithalat, toptan ürünler, perakende satış, marka patent, e-ticaret çözümleri, toptan spor malzemeleri ithalatı, marka desteği, toptan petshop ürünleri,
                                    toptan spor malzemesi">
}

<!--Welcome Section-->
<section class="welcome-section alternate">
    <div class="auto-container">
        <div class="row clearfix">

            <!--Content Column-->
            <div class="content-column col-lg-7 col-md-12 col-sm-12">
                <div class="inner-column">
                    <h2>Birileri'ne <span>Hoş Geldiniz</span></h2>
                    <div class="text">
                        <p>Ürünleri doğru zamanda, doğru yerden temin etmeyi önemsiyoruz. Birileri olarak ithalat süreçlerini sadeleştiriyor, iş ortaklarımıza pratik çözümler sunuyoruz.</p>
                        <h3>Kısaca Biz</h3>
                        <p>Farklı sektörlerden gelen ihtiyaçları dinliyor, süreci titizlikle takip ediyoruz. İthalatın her adımında güvenilir ve şeffaf bir yaklaşım benimsiyoruz.</p>
                    </div>
                </div>
            </div>

            <!--image Column-->
            <div class="image-column col-lg-5 col-md-12 col-sm-12">
                <div class="image">
                    <img src="~/images/resource/image-3.avif" alt="about" />
                </div>
            </div>

        </div>
    </div>
</section>
<!--End Welcome Section-->
@Html.Partial("_PartialEcommerceService")
<!--End Work Section-->
<!--Fluid Section One-->
<section class="fluid-section-one">
    <div class="outer-container clearfix">
        <!--Title Column-->
        <div class="title-column" style="background-image:url(images/background/11.jpg);">
            <div class="inner-column">
                <div class="icon-box">
                    <span class="icon flaticon-envelope-2"></span>
                </div>
                <div class="text">Mail Listemize Abone Olun</div>
                <h2>Güncel Bilgilerden Haberdar Olun</h2>
            </div>
        </div>
        <!--Form Column-->
        <div class="form-column" style="background-image:url('@Url.Content("~/images/background/6.jpg")');">
            <div class="inner-column">
                <div class="subscribe-form-three">
                    <form method="post" action="https://expert-themes.com/html/global-industry/contact.html">
                        <div class="form-group">
                            <span class="alert-text"></span>
                            <input type="email" name="email" class="subscribe-input" value="" placeholder="mail adresiniz" required>
                            <button type="submit" aria-label="Send" class="theme-btn subscribe-btn"><span class="fa fa-send"></span></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Fluid Section One-->
@section AdditionalScripts
{
    <script>
        $(document).ready(function()
        {
            $(".dropdown").removeClass("current");
            $(".about").addClass("current");
        });
    </script>
}
