@page
@model RegisterConfirmationModel


@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
@section Title {
    <meta name="title" content="Hesap">
}
@section Description {
    <meta name="description" content="İthal ürünleri toptan ve perakende olarak satın alın. Katalog ürünleri, marka patent desteği ve e-ticaret çözümleri sunuyoruz.">
}
@section Keywords {
    <meta name="keywords" content="Çin ithalat, toptan ürünler, perakende satış, marka patent, e-ticaret çözümleri, toptan spor malzemeleri ithalatı, marka desteği, toptan petshop ürünleri,
                                    toptan spor malzemesi">
}
<section class="login-section">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="column col-lg-6 col-md-12 col-sm-12">
                @if(TempData["SuccessMessage"].ToString() == "Doğrulama Maili Gönderildi.")
                {
                    <h1>Kayıt Onayla</h1>
               
                    <p>
                            Lütfen onay için e-postanızı kontrol ediniz.
                    </p>

                }
                else if (TempData["ErrorMessage"] != null)
                {
                    <p>
                        @TempData["ErrorMessage"]
                    </p>
                }
                else
                {
                    <p>
                        Bir hata oluştu. Lütfen daha sonra tekrar deneyiniz.
                    </p>
                }
                
                
            </div>
        </div>
    </div>
</section>
